.header {
  border-bottom: 1px solid #ececec;
  display: flex;
  min-height: 60px;

  &__container {
    display: flex;
    align-items: center;
  }
}

// .header {
//   border-bottom: 1px solid #ececec;
//   display: flex;
//   min-height: 80px;
// }
