.block {
  &__list {
    display: flex;
    flex-direction: column;

    &--bottom {
      margin-bottom: 30px;
    }
  }

  &__item {
  }

  &__contanier {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon-contanier {
    min-width: 450px;
    display: flex;
    justify-content: center;
    background-color: var(--background-first-color);

    &--bottom {
      margin-bottom: 30px;
    }
  }

  &__icon {
    margin: 25px 0 25px 0;
  }

  &__head {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.172em;
    letter-spacing: 0.03em;
    color: var(--text-main-color);

    &--bottom {
      margin-bottom: 10px;
    }
  }

  &__post {
    min-width: 450px;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    color: var(--text-third-color);

    &--bottom {
      margin-bottom: 30px;
    }
  }
}
