.clients-section {
  &__container {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    display: flex;
    fill: var(--vector-team-color);
    transition: var(--transition);
    transition-property: fill;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50vw - 30px);
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: var(--transition);
    transition-property: border-color;

    &--right {
      margin-right: 30px;
    }

    &--bottom {
      margin-bottom: 30px;
    }

    &:active,
    &:hover,
    &:focus {
      border-color: var(--brand-main-color);
      cursor: pointer;
    }

    &:active svg,
    &:hover svg,
    &:focus svg {
      fill: var(--brand-main-color);
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-section {
    &__item {
      width: calc(33vw - 30px);

      &--bottom-tablet {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .clients-section {
    &__list {
      flex-wrap: nowrap;
    }
    &__item {
      width: 170px;
    }
  }
}

// .clients-section {
//   &__cont {
//     display: flex;
//     flex-direction: column;
//   }

//   &__list {
//     display: flex;
//     justify-content: space-between;
//   }

//   &__icon {
//     display: flex;
//     fill: var(--vector-team-color);
//     transition: var(--transition);
//     transition-property: fill;
//   }

//   &__item {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 170px;
//     height: 92px;
//     border: 1px solid #afb1b8;
//     border-radius: 4px;
//     transition: var(--transition);
//     transition-property: border-color;

//     &--right {
//       margin-right: 30px;
//     }

//     &:active,
//     &:hover,
//     &:focus {
//       border-color: var(--brand-main-color);
//       cursor: pointer;
//     }

//     &:active svg,
//     &:hover svg,
//     &:focus svg {
//       fill: var(--brand-main-color);
//       cursor: pointer;
//     }
//   }
// }
