.clients-section {
  &__contanier {
    display: flex;
    flex-direction: column;
  }

  &__list {
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__icon {
    display: flex;
    fill: var(--vector-team-color);
    transition: var(--transition);
    transition-property: fill;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: var(--transition);
    transition-property: border-color;

    &--right {
      margin-right: 30px;  
    }

    &--top {
      margin-top: 30px;
    }

    &:active,
    &:hover,
    &:focus {
      border-color: var(--brand-main-color);
      cursor: pointer;
    }

    &:active svg,
    &:hover svg,
    &:focus svg {
      fill: var(--brand-main-color);
      cursor: pointer;
    }
  }
}
