.consent {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.171em;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  margin-top: 20px;

  &__label {
    font-family: var(--main-font);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.171em;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-third-color);

    &::before {
      font-size: 14px;
      display: inline-block;
      content: '';
      width: 16px;
      height: 16px;
      border: 2px solid var(--text-main-color);
      border-radius: 3px;
      right: 10px;
      position: relative;
    }
  }

  &__input:checked + &__label::before {
    background-color: var(--brand-main-color);
    border: none;
    background-image: url(../images/icon-check.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center, center;
  }

  &__link {
    padding-left: 3px;
  }
}
