.consent {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171em;
  letter-spacing: 0.03em;
  color: var(--text-third-color);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__label {
    color: var(--text-third-color);
  }

  &__input {
    display: inline-block;
    width: 16px;
    height: 15px;
  }

  &__link {
    padding-left: 3px;
  }
}

.input-button {
  background-image: url(../images/icon-unchecked.svg);
  background-repeat: no-repeat;

  &:checked {
    background-image: url(../images/icon-checked.svg);
    background-color: var(--brand-main-color);
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media screen and (min-width: 1200px) {
  .consent {
    font-size: 14px;
  }
}
