.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &--left {
    margin-left: auto;
  }

  &--right {
    margin-right: 15px;
  }

  &__item {
    display: flex;
    align-items: center;

    &--right {
      margin-right: 30px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17em;
    letter-spacing: 0.02em;
    color: var(--text-link-color);
    fill: var(--text-link-color);
    display: flex;
    align-items: center;
    transition: var(--transition);
    transition-property: color, fill;

    &:active,
    &:focus,
    &:hover {
      color: var(--brand-main-color);
      fill: var(--brand-main-color);
    }
  }

  &__icon {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;
  }
}
