.mobile-social {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222em;
  letter-spacing: 0.02em;

  &--top {
    padding-top: 64px;
  }

  &__item {
    &--bottom {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: var(--brand-main-color);
  }

  &--space {
    padding: 0 10px 0 10px;
    color: rgba(33, 33, 33, 0.2);
  }
}
