.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  background-color: var(--brand-second-color);

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--brand-second-color);
    border-radius: 50%;
    cursor: pointer;

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__head {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.03em;
    font-weight: 700;
    max-width: 370px;
    text-align: center;

    &--space-around {
      margin: 40px 40px 12px 40px;
    }
  }
}
